*{
  box-sizing: border-box;
}

body{
  margin: 0;
   background: linear-gradient(to bottom, #473806, #ebdc55);
   

}

.header{
color: #805b18;
  background: linear-gradient(to bottom, #473806, #ebdc55);
  padding: 20px;
  text-align: center;
  
}
 .menu {
  background: linear-gradient(to bottom, #ebdc55,#473806);
 overflow: hidden;
 padding: 20px;

 }

 .menu a{
  color: #ebdc55;
  padding: 14px 40px; /*...40 espaco entre..*/
  float: left;
  display: block;
  text-decoration: none;
 }

 .img {
  display: block;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 40px;
  background: linear-gradient(to bottom, #473806, #ebdc55);
 }

 .under-construction {
  color: red;
  text-align: center;
  padding: 20px;
   background: linear-gradient(to bottom, #473806, #ebdc55);
}

.texto-final {
  color: #5c4211;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  padding: 80px;
  background: linear-gradient(to bottom,#ebdc55, #473806);
}
