

body {
    min-height: 100vh;
   
    background: linear-gradient(to bottom, #473806, #ebdc55);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;           /* Faz a imagem cobrir toda a tela */
    font-family: Arial, Helvetica, sans-serif;
}
    


ul {
  display: flex;
  flex-direction: row; /* ← muda para linha */
  list-style-type: none;
  padding: 16px;
  gap: 64px; /* Espaço entre os itens na horizontal */
  align-items: center; /* alinha verticalmente */
}

a {
  color: rgb(151, 123, 12);
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin: 10;
}



    img {
  display: block; /* garante controle de alinhamento */
  margin-left: 30px;      /* alinha à esquerda */
  margin-right: auto;  /* empurra o restante para a direita */
  margin-top: 50px;
  max-width: 300px;
  height: auto;
  border-radius: 0%;
  border: 5px solid #ebe7e0;
}




.center {
  display: flex;                /* Coloca as imagens em linha */
  justify-content: flex-start; /* Alinha à esquerda */
  gap: 20px;                    /* Espaço entre elas (opcional) */
  margin: 0;
  padding: 0;
}

.center img {
  max-width: 300px;
  height: auto;
  margin: 0;                    /* Remove margens das imagens */
  border-radius: 0%;
  border: 5px solid #ebe7e0;
}

h1{
    display: block;
    color: rgb(9, 24, 156); 
    margin-right: auto;
    margin-left: 40px; 
     margin-top: 0px;
    margin-bottom: 0px;
   
}
h2{
     color: rgb(26, 52, 73); 
  margin-right: auto;
    margin-left: 40px; 
     margin-top: 0px;
    margin-bottom: 0px;
}
h3{
    color: rgb(223, 14, 14); 
     font-size: 60px;
    text-decoration:underline;
     margin-right: auto;
    margin-left: 40px;
    margin-top: 0px;
    margin-bottom: 0px;

}


/*....................MOBILE......................................*/
    
@media screen and (max-width: 780px) {

  html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden; /* evita rolagem lateral */
  }

  body {
    min-height: 100vh;
    background: linear-gradient(to bottom, #473806, #ebdc55);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
  }
ul {
  display: flex;
  flex-direction: column; /* muda para coluna */
  align-items: flex-start;
  list-style-type: none;
  padding: 16px;
  gap: 24px;
  align-items: center;
}

a {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.8rem;
  font-weight: bold;
  color: rgb(151, 123, 12);
  text-align: center;
}

  h1 {
    font-size: 1.8rem;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
    text-align: center;
  }

  h3 {
    font-size: 1.6rem;
    text-align: center;
  }



  img {
    margin: 20px auto;
    width: 90%;
    max-width: 100px;
    height: auto;
    border-radius: 0%;
    border: 5px solid #ebe7e0;
    display: block;
  }

}









